body{
    font-family: sans-serif;
}
#sidebar-left-elem-active{
    background-color: #28a745;
    color: white
}

.important-task{
    color: red
}

.sidebar-left{
    background: #f7f8f9;
    min-height: 100vh;
}
.sidebar-left > .list-group-item {
    background: #f7f8f9;
}

.mobile-sidebar{
    background: #f7f8f9;
}
.mobile-sidebar > .list-group-item {
    background: #f7f8f9;
}

.add-button{
    color: #28a745;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
